<h1>Watch List</h1>
<h2><%= @list.name %></h2>

<div class="container">
  <div class="container">
    <ul class="list-group">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id) %>
          <li class="list-group-item">
            <%= movie.title %>
            <%= movie.overview %>
            <%= movie.poster_url %>
            <%= bookmark.comment %>
            <%= link_to "Delete Bookmark",
                bookmark_path(bookmark),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="container">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Choose a Movie" %>
      <%= f.input :comment %>
      <%= f.submit "Add to list" %>
    <% end %>
  </div>
</div>

<%= link_to "delete this list", list_path(@list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
<%= link_to "Home", lists_path %>
